<div
  class="w-full flex items-center justify-between font-content text-white lg:text-xl text-xs opacity-25"
>
  <span class="animate-plusCCW">+</span>
  <hr class="2xl:w-96 lg:w-72 md:w-48 sm:w-32 w-[20vw] animate-borders" />
  <span class="animate-plusCW">+</span>
</div>
